# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# Docker
*.env
docker-compose.override.yml
docker-compose.override.*.yml
**/Dockerfile*
**/docker-compose*.yml
*.pid
*.swp

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
*.egg-info/
dist/
build/

# pytest / test outputs
.cache/
.pytest_cache/
htmlcov/
coverage.xml
nosetests.xml

# OS files
.DS_Store
Thumbs.db
